body {
  background-image: url(imagem-fundo-home.png);
  background-size: 100%;
}

.div1 {
  display: grid;
  font-family: Arial, sans-serif;
  grid-gap: 20px;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
  grid-template-columns: 200px;
  grid-template-rows: auto 500px auto;
  }

.div2 {
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  grid-gap: 20px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 200px;
  grid-template-rows: auto 500px auto;
  }
  
  .o-cabecalho {
    grid-area: header;
    padding: 10px; 
    margin: left;
          
  }
  
  .o-menu-lateral {
    grid-area: aside;    
  }
  
  .o-conteudo {
    grid-area: main;    
    text-align: center;
  }

  .o-conteudo2 {
    grid-area: main;    
    text-align: center;
    grid-template-rows: auto 500px auto;
    
  }
 
  .o-rodape {
    grid-area: footer;
    padding: 20px;
    text-align: center; 
    font-size: 20px; 
    margin-top: 230px; 
    color: #003664;
  }
 
button
 {
    margin-top: 450px;
    
    color: white;
    background-color: #003664;
    height: 80px;
    width: 200px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 15px 15px 15px 15px;
    margin-right: 35px;
    
  }
  
  button:hover {
   background-color: #1b8dc2; 
  }

  ul {
    display: block;
  }

  .cat1 {
    width: 200px;
    height:200px;
    background-color:lightgray;
    text-align: left;
    margin-right: auto;


  }